<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="pi_counter_ui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <pi_counter_ui.Properties.Settings>
            <setting name="piCounterPath" serializeAs="String">
                <value>pi-counter.dll</value>
            </setting>
            <setting name="IndicesViewer_ResultsPerPage" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="PiViewer_DigitsPerPage" serializeAs="String">
                <value>500</value>
            </setting>
        </pi_counter_ui.Properties.Settings>
    </userSettings>
</configuration>